@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Audiowide&family=Black+Ops+One&family=Chakra+Petch:wght@300;400;500;600;700&family=Courgette&family=Electrolize&family=Hahmlet:wght@100;200;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Coda&family=Lato:ital,wght@0,400;1,400;1,700&family=Open+Sans:wght@300;400;500;600;700&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/*
font-family: 'Anonymous Pro', monospace;
font-family: 'Audiowide', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Electrolize', sans-serif;
font-family: 'Hahmlet', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto Serif', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Skranji', cursive;
                    --------------------------
font-family: 'Amaranth', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Salsa', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Coda', cursive;

font-family: 'Ubuntu', sans-serif;
*/

/* 
    #11c7e7 sky blue 
    #276a3b green
    #43ae62 
*/
.stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 7pc;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    /*animation: stack 4s cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 20ms), glitch 4s linear infinite .3s alternate-reverse;*/
    animation: glitch 5s linear infinite alternate;
}
  
.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }
  
@keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
}
  
@keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
}
:root {
    --font-one: 'Orbitron', sans-serif;
    --font-two: 'Ubuntu',sans-serif;
    --font-three: 'Poppins',sans-serif;
    --font-four: 'Salsa',cursive;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#close {
    visibility: hidden;
}
.navigation-sticky {
    position: fixed;
    z-index: 20;
    top: 20px;
    right: 20px;
    width: auto;
    height: auto;
    font-size: 25px;
    color: #43ae62;
}
.navigation-sticky i {
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid #43ae62;
}
.navigation-logo {
    position: fixed;
    width: 100%;
    /*background: rgb(0, 0, 0,.8);
    backdrop-filter: blur(3px);*/
    top: 0;
    left: 0;
}
.navigation-logo img {
    width: 170px;
}
.navigation-sticky i:hover {
    box-shadow: 2px 3px 10px 1px #43ae62;
}
.navigation-bar-sticky {
    position: fixed;
    width: 20%;
    height: auto;
    top: 65px;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid #43ae62;
    backdrop-filter: blur(20px);
}
.navigation-bar-sticky ul {
    list-style-type: none;
}
.navigation-bar-sticky ul li a {
    font-size: 1.7pc;
    color: #43ae62;
    font-family: var(--font-three);
    text-decoration: none;
}
.navigation-bar-sticky ul li a:hover {
    color: #7bf581;
}
/*video {
    position: fixed;
    width: 100%;
    height: 100vh;
}
.pulse-name {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #ffffff;
    /*background: #000000;
    font-size: 7pc;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-family: var(--font-one);
}
.pulse-name {
    mix-blend-mode: multiply;
}
.remain-content {
    position: relative;
    top: 100vh;
    width: 100%;
    height: auto;
    color: #ffffff;
    /*background: #000000;*/
    /*background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.postimg.cc/50HVS3NZ/pulse-logo.png");
}*/

.remain-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-home,
.events-home,
.events-schedule-home,
.recent-gallery-home,
.department-home,
.contact-home {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-home-heading,
.events-home-heading,
.events-schedule-heading,
.recent-gallery-home-heading,
.department-home-heading,
.contact-home-heading,
.faculty-heading {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5pc;
}
.about-home-heading img,
.events-home-heading img,
.events-schedule-heading img,
.recent-gallery-home-heading img,
.department-home-heading img,
.contact-home-heading img,
.faculty-heading img {
    margin: 0 5px;
}
.about-home-heading h1,
.events-home-heading h1,
.events-schedule-heading h1,
.recent-gallery-home-heading h1,
.department-home-heading h1,
.contact-home-heading h1,
.faculty-heading h1 {
    color: #43ae62;
    letter-spacing: .6px;
    font-size: 2pc;
    font-family: var(--font-four);
}
.about-home-data,
.events-home-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-home-data a,
#more-events,
#more-images,
.about-box-data a,
.events-schedule-box section a,
#event-join {
    color: #000000;
    padding: 8px 15px;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 17px;
    text-decoration: none;
    font-family: var(--font-three);
    background: linear-gradient(to right,#43ae62,#7bf581);
}
.about-home-data a:hover,
#more-events:hover,
#more-images:hover,
.about-box-data a:hover,
.events-schedule-box section a:hover,
.contact-home-data form input[type="submit"]:hover,
#eventjoin:hover {
    transition: .3s;
    animation: linkAnim .6s linear;
}
.about-home-data p,
.events-home-data p {
    width: 85%;
    color: #c3c3c3;
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
    letter-spacing: .4px;
    font-family: var(--font-three);
}
.events-home-box {
    position: relative;
    width: 70%;
    height: auto;
    margin: 4pc 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.events-home-box-image {
    width: 30%;
    height: auto;
}
.events-home-box-image img {
    width: 100%;
    height: auto;
}
.events-home-box-desc {
    width: 60%;
    height: 70%;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #25412d;
}
.events-home-box-desc h1 {
    font-weight: 600;
    letter-spacing: .6px;
    color: #43ae62;
    font-size: 1.6pc;
    font-family: var(--font-three);
}
.events-home-data p {
    text-align: left;
}
.events-home-box-desc a {
    text-decoration: none;
    color: #11c7e7;
    font-size: 17px;
    font-family: var(--font-three);
}
.events-home-box-desc a:hover {
    color: #43ae62;
}
.events-home-box-desc a i {
    font-size: 14px;
    margin-left: 5px;
}
.events-schedule-data,
.recent-gallery-home-data,
.department-home-data {
    width: 100%;
    height: auto;
    display: flex;
    margin: 3pc 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.events-schedule-box {
    width: 350px;
    height: 100%;
    padding: 10px;
    text-align: center;
    border: 2px solid #43ae62;
}
.events-schedule-box img {
    width: 100%;
    height: 100%;
}
.events-schedule-box h2 {
    color: #d8d8d8;
    font-size: 1.4pc;
    font-weight: 500;
    font-family: var(--font-two);
}
.events-schedule-box h3 {
    color: #43ae62;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-two);
}
.events-schedule-box p {
    color: #bbbbbb;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-three);
}
.events-schedule-box h2,
.events-schedule-box h3,
.events-schedule-box p {
    margin-top: 10px;
}
.events-schedule-box section {
    margin-top: 1pc;
    border-top: 2px solid #43ae62;
}
.recent-gallery-home-data {
    background: #11c7e7;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
svg {
    position: relative;
    top: -60px;
}
.recent-gallery-home-data-box {
    width: 100%;
    height: auto;
    margin-top: 2pc;
    display: flex;
    justify-content: space-evenly;
}
.recent-image-box {
    width: 23%;
    height: 100%;
}
.recent-image-box img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 10px 1px #7a7a7a;
}
.recent-image-box a {
    position: relative;
    bottom: 60px;
    color: #000000;
    padding: 8px 15px;
    font-size: 16px;
    background: #43ae62;
    font-family: var(--font-two);
}
.recent-image-box a:hover {
    padding: 8px 35px;
    transition: .3s;
}
.recent-image-box:nth-child(2) {
    padding-top: 7pc;
}
.recent-image-box:nth-child(3) {
    padding-top: 2pc;
}
.recent-image-box:nth-child(4) {
  padding-top: 5pc;
}
#more-images {
  margin-top: 4pc;
}
.department-home-data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.department-home-data iframe {
    width: 45%;
    height: 350px;
    border-radius: 7px;
}
.department-desc {
    width: 45%;
    height: 350px;
    padding: 100px 30px;
    border-top: 2px solid #43ae62;
    border-bottom: 2px solid #43ae62;
}
.department-desc h1,
.about-box-data h1 {
    color: #ffffff;
    font-size: 2pc;
    font-weight: 600;
    font-family: var(--font-three);
}
.department-desc p,
.about-box-data p {
    color: #e0e0e0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .4px;
}
.incharges {
  margin: 2pc 0;
}
.incharges-box {
  width: auto;
  height: auto;
  padding: 25px;
  line-height: 35px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #43ae62;
}
.incharges-box h2 {
  font-size: 18px;
  color: #11c7e7;
}
.incharges-box h1 {
  font-size: 22px;
  color: #cecece;
  letter-spacing: .6px;
}
.incharges-box a {
  color: #43ae62;
  font-size: 17px;
}
.contact-home-data {
  width: 30%;
}
.contact-home-data form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-home-data form input,
.contact-home-data form textarea,
.faculty input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 17px;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 1.6pc;
  background: transparent;
  font-family: var(--font-three);
  border: 2px solid #7bf581;
}
.contact-home-data form input[type="submit"] {
    color: #000000;
    cursor: pointer;
    border: 0;
    background: linear-gradient(to right,#43ae62,#7bf581);
}
.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 2pc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer img {
  width: 200px;
  height: auto;
}
.footer nav {
  width: 50%;
}
.footer nav ul,
.social-media {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer nav ul li a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.footer nav ul li a:hover {
  color: #7bf581;
  transition: .3s;
}
.social-media {
  width: 20%;
  margin: 2pc 0;
}
.social-media i {
  color: #7bf581;
  font-size: 25px;
}
.social-media i:hover {
  transition: .3s;
  transform: scale(1.3);
}
.footer p {
  color: #dfdfdf;
  font-size: 18px;
  letter-spacing: .4px;
}
.tagline{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagline .tag-glitch{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 3pc;
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.tagline .tag-glitch:before,
.tagline .tag-glitch:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    top: 0;
}
.tagline .tag-glitch:before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
}
.tagline .tag-glitch:after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
}
@keyframes glitch-1 {
    0% {
      clip: rect(132px, auto, 101px, 30px);
    }
    5% {
      clip: rect(17px, auto, 94px, 30px);
    }
    10% {
      clip: rect(40px, auto, 66px, 30px);
    }
    15% {
      clip: rect(87px, auto, 82px, 30px);
    }
    20% {
      clip: rect(137px, auto, 61px, 30px);
    }
    25% {
      clip: rect(34px, auto, 14px, 30px);
    }
    30% {
      clip: rect(133px, auto, 74px, 30px);
    }
    35% {
      clip: rect(76px, auto, 107px, 30px);
    }
    40% {
      clip: rect(59px, auto, 130px, 30px);
    }
    45% {
      clip: rect(29px, auto, 84px, 30px);
    }
    50% {
      clip: rect(22px, auto, 67px, 30px);
    }
    55% {
      clip: rect(67px, auto, 62px, 30px);
    }
    60% {
      clip: rect(10px, auto, 105px, 30px);
    }
    65% {
      clip: rect(78px, auto, 115px, 30px);
    }
    70% {
      clip: rect(105px, auto, 13px, 30px);
    }
    75% {
      clip: rect(15px, auto, 75px, 30px);
    }
    80% {
      clip: rect(66px, auto, 39px, 30px);
    }
    85% {
      clip: rect(133px, auto, 73px, 30px);
    }
    90% {
      clip: rect(36px, auto, 128px, 30px);
    }
    95% {
      clip: rect(68px, auto, 103px, 30px);
    }
    100% {
      clip: rect(14px, auto, 100px, 30px);
    }
}
@keyframes glitch-2 {
    0% {
      clip: rect(129px, auto, 36px, 30px);
    }
    5% {
      clip: rect(36px, auto, 4px, 30px);
    }
    10% {
      clip: rect(85px, auto, 66px, 30px);
    }
    15% {
      clip: rect(91px, auto, 91px, 30px);
    }
    20% {
      clip: rect(148px, auto, 138px, 30px);
    }
    25% {
      clip: rect(38px, auto, 122px, 30px);
    }
    30% {
      clip: rect(69px, auto, 54px, 30px);
    }
    35% {
      clip: rect(98px, auto, 71px, 30px);
    }
    40% {
      clip: rect(146px, auto, 34px, 30px);
    }
    45% {
      clip: rect(134px, auto, 43px, 30px);
    }
    50% {
      clip: rect(102px, auto, 80px, 30px);
    }
    55% {
      clip: rect(119px, auto, 44px, 30px);
    }
    60% {
      clip: rect(106px, auto, 99px, 30px);
    }
    65% {
      clip: rect(141px, auto, 74px, 30px);
    }
    70% {
      clip: rect(20px, auto, 78px, 30px);
    }
    75% {
      clip: rect(133px, auto, 79px, 30px);
    }
    80% {
      clip: rect(78px, auto, 52px, 30px);
    }
    85% {
      clip: rect(35px, auto, 39px, 30px);
    }
    90% {
      clip: rect(67px, auto, 70px, 30px);
    }
    95% {
      clip: rect(71px, auto, 103px, 30px);
    }
    100% {
      clip: rect(83px, auto, 40px, 30px);
    }
}
@keyframes navigationOne {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}
@keyframes navigationTwo {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}
@keyframes linkAnim {
    0%,100% {
        background: linear-gradient(to right,#7bf581,#43ae62);
    }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(13px);
  }
}

/*----------------------------------- Common -----------------------------------*/

.flex {
  display: flex;
  justify-content: center;
}
.jus-even {
  justify-content: space-evenly;
}
.jus-bet {
  justify-content: space-between;
}
.align {
  align-items: center;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.w-8 {
  width: 8.33%;
}
.w-16 {
  width: 16.66%;
}
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.33%;
}
.w-41 {
  width: 41.66%;
}
.w-50 {
  width: 50%;
}
.w-58 {
  width: 58.33%;
}
.w-66 {
  width: 66.66%;
}
.w-75 {
  width: 75%;
}
.w-83 {
  width: 83.33%;
}
.w-91 {
  width: 91.66%;
}
.w-100 {
  width: 100%;
}

/*----------------------------------- About -----------------------------------*/

.about,
.about-box {
  margin-top: 3pc;
}
.about-box-image,
.about-box-data {
  height: 100%;
}
.about-box-image {
  padding: 4pc;
}
.about-box-image img {
  width: 100%;
}
.about-box-data {
  padding: 30px;
  border: 2px solid #43ae62;
}
.about-box-data p {
  line-height: 25px;
  margin-top: 10px;
}
.about-box-data a {
  width: 115px;
}

/*----------------------------------- Faculty -----------------------------------*/

.faculty-heading {
  margin-top: 7pc;
}
.faculty-data {
  flex-wrap: wrap;
}
.faculty-box {
  width: 290px;
  height: auto;
  margin-top: 2pc;
  padding: 2pc 0;
  background: #11c7e7;
  border-radius: 14px;
}
.faculty-box img {
  width: 20%;
}
.faculty-box h1 {
  font-size: 1.5pc;
  font-weight: 500;
  letter-spacing: .8px;
  font-family: var(--font-two);
}
#faculty-image {
  width: 25%;
  border-radius: 50%;
  border: 4px solid #ffffff;
}
#faculty-image,
.faculty-box h1 {
  margin-top: 10px;
}
.faculty-box h3 {
  font-size: 1pc;
  font-weight: 400;
}
.faculty-details {
  height: auto;
  flex-wrap: wrap;
  margin-top: 12px;
}
.faculty-details-box {
  width: 50%;
  height: 50%;
  padding: 7px;
}
.faculty-details-box h4 {
  font-size: 16px;
  color: #414141;
}
.faculty-details-box p,
.faculty-details-box a {
  font-size: 17px;
  color: #000000;
  letter-spacing: .5px;
}
.faculty input {
  width: 300px;
  margin-top: 1pc;
}
@media only screen and (max-width:1123px) {
    video {
        height: 100vh;
    }
    .navigation-logo {
        background: rgb(0, 0, 0,.8);
        backdrop-filter: blur(2px);
    }
    .pulse-name {
        font-size: 2pc;
    }
    .navigation-bar-sticky {
      width: 50%;
    }
    .navigation-bar-sticky ul {
      margin-top: 1pc;
    }
    .navigation-bar-sticky ul li a {
        font-size: 1pc;
    }
    .stack span {
        font-size: 15vw;
    }
    .about-home-heading h1,
    .events-home-heading h1,
    .events-schedule-heading h1,
    .recent-gallery-home-heading h1,
    .department-home-heading h1,
    .department-desc h1,
    .contact-home-heading h1,
    .social-media i,
    .faculty-heading h1 {
        font-size: 18px;
    }
    .about-home-heading img,
    .events-home-heading img,
    .events-schedule-heading img,
    .recent-gallery-home-heading img,
    .department-home-heading img,
    .contact-home-heading img {
        width: 21px;
    }
    .about-home-data p,
    .events-home-data p,
    .about-home-data a,
    .department-desc p,
    .footer p,
    .footer nav ul li a {
        font-size: 14px;
    }
    .events-home-box:nth-child(1),
    .events-home-box:nth-child(3),
    .recent-gallery-home-data-box,
    .department-home-data {
      flex-direction: column;
    }
    .events-home-box:nth-child(2),
    .events-home-box:nth-child(4) {
      flex-direction: column-reverse;
    }
    .events-home-box,
    .recent-image-box,
    .department-home-data iframe,
    .department-desc {
        width: 90%;
    }
    .department-home-data iframe,
    .department-desc {
      height: auto;
    }
    .department-desc {
      padding: 10px;
    }
    .department-desc p {
      line-height: 22px;
    }
    .events-home-box,
    .department-desc {
      margin: 1pc 0;
    }
    .recent-gallery-home-data-box {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .recent-image-box:nth-child(2),
    .recent-image-box:nth-child(3),
    .recent-image-box:nth-child(4) {
      padding-top: 0;
    }
    .events-home-box-desc,
    .events-home-box-image {
        width: 85%;
        height: auto;
    }
    .events-home-box-desc {
        padding: 15px;
    }
    .events-schedule-data {
        flex-direction: column;
    }
    .events-schedule-box,
    .incharges-box {
        width: 90%;
        height: auto;
        margin: 1pc 0;
    }
    .incharges {
      width: 100%;
      flex-direction: column;
    }
    .tagline  {
      display: none;
    }
    .contact-home-data {
      width: 90%;
    }
    .footer nav,
    .social-media {
      justify-content: space-between;
    }
    .footer nav {
      width: 95%;
    }
    .social-media {
      width: 70%;
    }

    /*----------------------------------- About ---------------------------------*/

    .about,
    .about-box {
      margin-top: 1pc;
    }
    .about-box {
      flex-direction: column;
    }
    .about-box-image,
    .about-box-data {
      width: 90%;
      margin: auto;
    }
    .about-box-data h1 {
      font-size: 20px;
    }
    .about-box-data p {
      font-size: 15px;
    }
    .about-box:nth-child(2) {
      flex-direction: column-reverse;
    }

    /*----------------------------------- Faculty ---------------------------------*/

    .faculty input {
      width: 290px;
    }
}
